<!DOCTYPE html>
<html>
    <head>
        <title>
            Create Contest page
        </title>
    </head>
    <body>
        <h1>Creating contests since 1999</h1>
        <form action="/adminPanel/createContest" method="POST">
            <input type="text" name="name" placeholder="Name of Contest">
            <input type="number" name="amount" placeholder="Amount">
            <button>Submit</button>

        </form>
    </body>
</html>