<!DOCTYPE html>
<html>
    <head>
        <title>
            User Register
        </title>
    </head>
    <body>
        <form action="/loginOpt/user/register" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="checkbox" name="isAdmin" value=true>
            <label for="isAdmin"> I want to be admin</label><br>
            <button>Submit</button>

        </form>
        
    </body>
</html>